
/* Declaring Root Variables */
:root {
    /* Page color */
    --page-color: #F4F4F5;

    /* Dark text color */
    --dark-text-color: #36454F;

    /* Linear-gradient colors */
    --start-stop-color: #E3C5FF;
    --mid1-color: #FFDA29;
    --mid2-color: #00F7FF;

    /* Spinner color */
    --spinner-color: #ffd764;

    /* Ribbon color */
    --ribbon-color: #ED2939;

    /* Control Bar color */
    --control-bar-color: #9292F5;
}

/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--page-color);
}

.ribbon {
    background-color: var(--ribbon-color);
    height: 45px;
    width: 100%;
}

.ribbon p {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: normal;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 54px;
    text-transform: uppercase;

    background: linear-gradient(90deg, 
                var(--start-stop-color), 
                var(--mid1-color), 
                var(--mid2-color), 
                var(--mid1-color), 
                var(--start-stop-color));
    background-clip: text;
    background-size:200%;
    color: transparent;

    margin: 25px 0px 25px 0px;
    padding: 12px 0px 15px 0px;

    animation: gradient-animation 3s linear infinite;
}

.spinner {
    height: 200px;
    width: 200px;

    margin: 0px 0px 20px 0px;
    padding: 0px 0px 20px 0px;

    position: relative;
}

.spinner-segment {
    height: 100%; /* Setting to 100% makes element expand to fit parent size. */
    width: 100%; /* Setting to 100% makes element expand to fit parent size. */
    border-radius: 50%;
    border: 15px solid transparent;
    /* background-color: blue; */

    position: absolute;
}

.spinner-segment-colored {
    border-top: 15px solid var(--spinner-color);
}

.rotate-switch {
    animation: rotate-segment 5s linear infinite;
}

.controlbar {
    height: 50px;
    width: 200px;
    background-color: var(--control-bar-color);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.control-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.controlbar p {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-style: normal;
}

/* Keyframes */
@keyframes gradient-animation {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 200%;
    }
}

@keyframes rotate-segment {
    0% {

    }

    100% {
        transform: rotate(360deg)
    }
}